<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Project</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='shop-homepage.css') }}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">My Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('showLogin')}}">Log in
                <span class="sr-only">(current)</span>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Categories</h1>
          <div class="list-group">
            {% for Category in Categories %}
            <a href="{{url_for('showItems', Category_name = Category.name )}}" class="list-group-item">{{Category.name}}</a>
            {% endfor %}
          </div>

        </div>
        <div class="col-lg-9 card11">
            <div class="row">
             
                {% for item in items %}
                <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                    <div class="card-body">
                      <h4 class="card-title">
                        <p>{{item.name}}</p>
                        
                        <h6>"{{item.category.name}}"</h6>
                      </h4>
                    </div>
                    <div>


                    </div>
                   
                </div>
                </div>
                {% endfor %}


            </div>  
        </div>
       
          </div>
          <!-- /.row -->

        </div>
    <!-- /.container -->





  </body>
<style>
  .card11{
    margin-top: 97px
  }
  .addnewitem{
    margin-bottom: 20px;
  }
</style>
</html>

